
nav {
  height: 80px;
}

.wrapper {
  display: block;
  margin: 1.2rem;
}

.img-carousel{
  display: block;
  max-width: 100%;
  height: 35rem;
}

.image-fluid {
  display: block;
  max-width: 100%;
  height: 24rem;
  width: 18rem;
}

.posts {
  display: grid;
  grid-gap: 8px;
  padding: 16px;
  grid-auto-rows: 1fr;
}

.form-select-btn {
  display: inline-block;
  border: none;
  width: 54px;
  background: none;
}