<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-image:url({% static "image/bg.png" %})">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand text-white mb-0 h1">The Movie Guy</a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="jumbotron text-center">
            <div class="container">
                <form method="POST">
                    {{form.as_p}}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
            <div class="container">
                {% if flag == False %}
                    <p> Not found </p>
                {% else %}
                    {% for i in recommended_list %}
                        {{i}}<br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>
